<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link rel="icon" href="https://icons.iconarchive.com/icons/wineass/ios7-redesign/256/Weather-icon.png">
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}

    <p>Use this side to get your Weather</p>

    <form>
      <input type="text" placeholder="Enter a city name">
      <button>Search</button>
    </form>

    <p class="js-location location"></p>
    <p class="js-data data"></p>
  </div>

  {{>footer}}
  <script src="./js/app.js"></script>
</body>
</html>